@font-face {
    font-family: 'Roboto-Regualar';
    src: url(../fonts/Roboto-Regular.ttf) format('truetype');
}

* {
    -webkit-tap-highlight-color: #00000000;
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    color: #000000;
    scroll-behavior: smooth;
    font-family: 'Roboto-Regualar';
}

body {
    /*App Body*/
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
    /* prevent copy paste, to allow, change 'none' to 'text' */
    background: #ffffff;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #fbfbfb;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to right, #00446D, #002E4A);
    border-radius: 50px;
}

.appBarContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 62px;
    background: #7436E1;
    backdrop-filter: blur(12px);
}

.appBarLeftContents {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 22px;
}

.fa-bars {
    color: #ffffff;
    font-size: 19px;
    cursor: pointer;
}

#appTitle {
    font-size: 19px;
    color: #ffffff;
    margin-left: 22px;
}

.appBarRightContents {
    float: right;
    margin-top: -2.5rem;
    margin-right: 22px;
}

#search {
    font-size: 19px;
    color: #ffffff;
    cursor: pointer;
}

#searchOverlayContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #ffffff;
    display: none;
}

.searchInputContainer {
    margin: 10px 16px 0px;
}

.searchInput {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: none;
    outline: none;
    background: none;
    color: black;
}

#searchButton {
    position: relative;
    margin-top: -2rem;
    float: right;
    background: none;
    outline: none;
    border: none;
    font-size: 19px;
    cursor: pointer;
}

#floatingActionButton {
    /*Floating Action Button*/
    margin-top: -4.2rem;
    width: 58px;
    height: 58px;
    background: #7436E1;
    box-shadow: 1px 2px 4px #1414141a;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-family: sans-serif;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    transition: 0.25s;
}

#floatingActionButton:active {
    background: #9254ff;
}

.fa-microphone {
    color: #ffffff;
    font-size: 20px;
}

.bottomNavigationBar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #ffffff;
}

.bottomNavigationBarContents {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.iconContainer {
    text-align: center;
    margin-top: 13px;
}

#homeIcon {
    font-size: 19px;
    color: #7436E1;
    font-weight: bold;
    cursor: pointer;
}

#homeText {
    color: #7436E1;
    cursor: pointer;
}

#messageIcon,
#cartIcon,
#accountIcon {
    font-size: 19px;
    cursor: pointer;
}

.iconText {
    font-size: 12px;
    margin-top: 1px;
    cursor: pointer;
}

#drawerOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #0f0f0f65;
    cursor: pointer;
    display: none;
}

#drawerSideBar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 85%;
    height: 100vh;
    background: #ffffff;
    transition: .5s;
}

#drawerSideBar.active {
    left: 0;
}

#nightThemeContainer {
    position: absolute;
    width: 200px;
    height: 60px;
    background: transparent;
    border-radius: 5px;
    margin-left: 1.5rem;
    margin-top: 0.6rem;
}

#nighThemeSwitch {
    position: absolute;
    top: 21px;
    right: 30px;
}

#nightThemeText {
    font-size: 18px;
    padding: 19.2px;
    margin-left: -8px;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background: #d6d6d6be;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 6px;
    width: 22px;
    transform: scale(1.5);
}

.label .ball {
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    margin-left: -6px;
    top: 2px;
    left: 8px;
    height: 12px;
    width: 12px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
    transform: translateX(16px);
}

.line {
    width: 260px;
    border-color: #fbfbfb1e;
}

#sideBarIconContainer {
    display: flex;
    align-items: center;
    margin: 0px;
}

.sideBarIconText {
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
}

#sideBarShareIcon {
    margin: 10px;
    font-size: 19px;
    cursor: pointer;
}

#sideBarGithubIcon {
    margin: 10px;
    font-size: 19px;
    cursor: pointer;
}

@media screen and (min-width: 1126px) {
    /*Desktop Approach*/
    #drawerSideBar {
        width: 25%;
    }
}