body {
    background: #021d3a;
}

.appBarContainer {
    background: #042042;
}

.fa-bars {
    color: #ffffff;
}

#appTitle {
    color: #ffffff;
}

#floatingActionButton {
    /*Floating Action Button*/
    background: #033E80;
    color: #ffffff;
    box-shadow: none;
}

#floatingActionButton:active {
    background: #0459b9;
}

#bodyText {
    /*Click Counter*/
    text-transform: none;
    color: #ffffff;
}

#drawerSideBar {
    background: #021d3a;
}

#nightThemeText {
    font-size: 18px;
    padding: 19.2px;
    margin-left: -8px;
    color: #ffffff;
}

.label {
    background: #ffffff;
}

.label .ball {
    background-color: #021d3a;
}

.bottomNavigationBar {
    background: #042042;
}

#homeIcon {
    color: #ffffff;
}

#homeText {
    color: #ffffff;
}

#messageIcon,
#cartIcon,
#accountIcon {
    color: #ffffff;
}

.iconText {
    color: #ffffff;
}

.sideBarIconText {
    color: #ffffff;
}

#sideBarShareIcon {
    color: #ffffff;
}

#sideBarGithubIcon {
    color: #ffffff;
}

/*Desktop Approach*/
@media (min-width: 1024px) {
    
}