 /*Icons https://fontawesome.com/v5/search*/
 /*Google Fonts*/ 
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
/*Loading Animation*/ 
.loaderContainer {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100vh;
    background: rgb(255, 255, 255);
    cursor: pointer;
}
#loaderAnimation {
    display: flex;
    justify-content: center;
    margin-top: 232px;
}
#loader {
    width: 225px;
}
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    color: black;
    font-family: 'Questrial', sans-serif;
}
 /*App Body*/
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background: #f4f4f4;
}
/*App Bar*/
.appBarContainer {
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 132px;
    background-image: linear-gradient(to right, #944CE1, #7135DB);
    box-shadow: 1px 2px 16px #bfbfbf;
}
.appBarContents {
    margin-top: 22px;
    font-size: 21px;
    text-transform: none;
    padding: 25px;
}
#bar {
    float: left; 
    color: #ffffff;
    cursor: pointer;
}
#audio {
    float: right; 
    color: #ffffff;
    font-size: 21px;
    cursor: pointer;
}
#appTitle {
    text-align: center;
    margin-top: 1.4px;
    font-size: 20px;
    color: #ffffff;
}
.appBarSelection {
    display: flex;
    justify-content: center;
    margin-top: -5px;
}
.appBarSelection .selection {
    font-size: 16px;
    color: #ffffffaf;
    margin: 20px;
    cursor: pointer;
}.selection:hover {
    color: white;
    transition: .4s;
}
#selected {
    color: #ffffff;
}
#hightlight {
    text-align: center;
    margin-top: -14px;
    border-radius: 100px;
    width: 40px;  
    border: 1px solid rgb(255, 255, 255);
} 
 /*Floating Action Button*/
#floatingActionButton {
    position: absolute;
    width: 58px;
    height: 58px;
    background: #7837e8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 26px;
    color: #ffffff;
    text-decoration: none;
    box-shadow: 1px 2px 16px #5c2caf;
    cursor: pointer;
    transition: 0.25s;
    margin-top: -30px;
}
#floatingActionButton:active {
    background:#7c3aee;
}
/*Click Counter*/
.clickCounterWrapper {
    overflow-y: hidden;
    overflow-x: hidden;
}
.clickCounterContents {
    text-align: center;
    margin-top: 300px;
    color: rgb(39, 39, 39); 
}
#bodyText {
    text-transform: none;
    font-size: 14px;
}
#clickValue {
    font-size: 40px;
    margin-top: -10px;
}
/*Bottom Navigation Bar*/
.bottomNavigationBarWrapper {
    position: fixed;
    bottom: 2%; 
    left: 0; 
    right: 0;
}
.bottomNavigationBarContents {
    display: flex;
    justify-content: center;
    margin: auto;
    bottom: 0; 
    left: 0; 
    right: 0;
    width: 98%; 
    height: 60px;
    background-image: linear-gradient(to right, #7135DB, #944CE1);
    box-shadow: 1px 2px 16px rgb(154, 154, 154);
    border-radius: 50px;
    font-size: 20px;
}
.bottomIconContainer {
    margin-top: 0px;
}
#homeIcon {
    color: #ffffff;
    cursor: pointer;
    margin: 40px;
}
#searchIcon {
    color: #ffffff;
    cursor: pointer;
    margin: 40px;
}
#messageIcon {
    color: #ffffff;
    cursor: pointer;
    margin: 40px;
}
#profileIcon {
    color: #ffffff;
    cursor: pointer;
    margin: 40px;
}
#drawerTransparentBackground {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100vh;
    background: rgba(15, 15, 15, 0.523);
    display: none;
}
#drawerSideBar {
    position: fixed;
    top: 0; 
    left: -100%;
    width: 80%; 
    height: 100vh;
    background: rgb(255, 255, 255);
    transition: .5s;
}
#drawerSideBar.active {
   left: 0;
}
#drawerHead {
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 88px;
    background-image: linear-gradient(to right, #7135DB, #944CE1);
}
#backArrow {
    font-size: 21px;
    margin: 47px 24px;
    color: #ffffff;
    cursor: pointer;
}
#drawerTitle {
    position: absolute;
    margin-top: -66.8px;
    margin-left: 70px;
    font-size: 20px;
    color: white;
}
.profile {
    margin-left: 38px;
    margin-top: 40px;
    width: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.line {
    border-color: rgba(255, 255, 255, 0.219);
    margin-top: 20px;   
}
.main-text {
    margin-left: 38px;
    font-size: 21px;
    font-weight: normal;
    color: rgb(0, 0, 0);
    font-family: 'Questrial', sans-serif;
}   
.description {
    margin-left: 38px;
    margin-top: 5px;        
    font-size: 18px;
    color: rgb(0, 0, 0);
}
.option {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
}
ul {
    list-style: none;
    margin-top: 34px;
}
#icon {
    font-size: 21px;
    padding-right: 20px;
}
 /* Search UI */
#searchTransparentBackground {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100vh;
    background: rgba(15, 15, 15, 0.523);
    cursor: pointer;
    display: none;
}
#searchBackArrow {
    font-size: 21px;
    margin: 47px 24px;
    color: #ffffff;
    cursor: pointer;
}
 #searchBarContainer {
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 88px;
    background-color: #7135DB;
    display: none;
}
.searchBarContents {
    margin-top: 36px;
    margin-right: 10px;
    float: right;
}
#searchInput {
    width: 215px;
    height: 4px;
    padding: 19px;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 18px;
    background-color: #6c33d0;
    border-radius: 100px;
}
::placeholder {
    color: rgba(255, 255, 255, 0.728);
}
#searchFormIcon {
    color: #ffffff;
    font-size: 16px;
    margin-left: -67px;
}
#searchBtn {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}
 /* Mobile View Portrait layout (default) */
@media screen and (min-width: 360px){
    .main-text {
        font-weight: normal;
        font-size: 20px;
    }
    #bodyText {
        font-size: 16px;
        margin-top: -26%;
    }
    #clickValue {
        font-size: 42px;
        margin-top: -3%;
    }
    .profile {
        margin-top: 48px;
        width: 80px;
    }
    .description {
        font-size: 16px;
    }
    #searchInput {
        width: 228px;
    }
    /*Bottom Navigation Bar*/
    .bottomNavigationBarWrapper {
        position: fixed;
        bottom: 1%; 
        left: 0; 
        right: 0;
    }
    .bottomNavigationBarContents {
        display: flex;
        justify-content: center;
        margin: auto;
        bottom: 0; 
        left: 0; 
        right: 0;
        width: 99%; 
        height: 56.8px;
        background-image: linear-gradient(to right, #7135DB, #944CE1);
        box-shadow: 1px 2px 16px rgb(154, 154, 154);
        border-radius: 50px;
        font-size: 20px;
    }
    .bottomIconContainer {
        margin-top: -12.8px;
    }
    #homeIcon {
        color: #ffffff;
        cursor: pointer;
        margin: 32px;
    }
    #searchIcon {
        color: #ffffff;
        cursor: pointer;
        margin: 32px;
    }
    #messageIcon {
        color: #ffffff;
        cursor: pointer;
        margin: 32px;
    }
    #profileIcon {
        color: #ffffff;
        cursor: pointer;
        margin: 32px;
    }
    #graphicContainer {
        text-align: center;
        margin-top: -10%;
    }
    #graphic {
        width: 320px;
    }
}
@media screen and (min-width: 375px){
    #searchInput {
        width: 244px;
    }
}
 /* Tablet Portrait View */
@media screen and (min-width: 768px){
    #drawerSideBar {
        width: 60%; height: 100vh;
    }
    #bodyText {
        font-size: 18px;
        margin-top: -6%;
    }
    #clickValue {
        font-size: 50px;
        margin-top: -1%;
    }
    #graphicContainer {
        text-align: center;
        margin-top: -4%;
    }
    #graphic {
        width: 460px;
    }
}
/* Tablet Landscape View */
@media screen and (min-width: 1024px){
    #drawerSideBar {
        width: 40%; height: 100vh;
    }
    #bodyText {
        font-size: 18px;
        margin-top: -10%;
    }
    #clickValue {
        font-size: 50px;
        margin-top: -1%;
    }
    #graphicContainer {
        text-align: center;
        margin-top: -8%;
    }
    #graphic {
        width: 760px;
    }
}
 /*Standard Screen */
@media screen and (min-width: 1366px){
    #drawerSideBar {
        width: 20%; height: 100vh;
    }
    #bodyText {
        font-size: 18px;
        margin-top: -6%;
    }
    #clickValue {
        font-size: 50px;
        margin-top: -1%;
    }
    #graphicContainer {
        text-align: center;
        margin-top: -4%;
    }
    #graphic {
        width: 460px;
    }
 }
 /*FHD Screen */
 @media screen and (min-width: 1920px){
    #loaderAnimation {
        margin-top: 380px;
    }
    #floatingActionButton:hover {
        background:#7035d5;
    }
    #drawerSideBar {
        width: 24%; height: 100vh;
    }
    .profile {
        margin-top: 45px;
        width: 80px;
    }
    .main-text {
        margin-left: 38px;
        font-size: 26px;
        font-weight: normal;
    }   
    .description {    
        font-size: 18px;
    }
    ul {
        margin-top: 60px;
        list-style: none;
        font-size: 20px;
    }
    #icon {
        font-size: 20px;
        padding-right: 20px;
    }
    #bodyText {
        font-size: 18px;
        margin-top: 1%;
    }
    #clickValue {
        font-size: 50px;
        margin-top: -1%;
    }
    /* Search UI */
    .searchBarContents {
        margin-top: -81px;
        text-align: center;
        float: unset;
    }
    #searchInput {
        width: 350px;
    }
    /*Bottom Navigation Bar*/
    .bottomNavigationBarWrapper {
        position: fixed;
        bottom: 1%; 
        left: 0; 
        right: 0;
    }
    .bottomNavigationBarContents {
        display: flex;
        justify-content: center;
        margin: auto;
        bottom: 0; 
        left: 0; 
        right: 0;
        width: 22%; 
        height: 56.8px;
        background-image: linear-gradient(to right, #7135DB, #944CE1);
        box-shadow: 1px 2px 16px rgb(154, 154, 154);
        border-radius: 50px;
        font-size: 20px;
    }
    .bottomIconContainer {
        margin-top: -20px;
    }
    #homeIcon {
        color: #ffffff;
        cursor: pointer;
        margin: 40px;
    }
    #searchIcon {
        color: #ffffff;
        cursor: pointer;
        margin: 40px;
    }
    #messageIcon {
        color: #ffffff;
        cursor: pointer;
        margin: 40px;
    }
    #profileIcon {
        color: #ffffff;
        cursor: pointer;
        margin: 40px;
    }
    #graphicContainer {
        text-align: center;
        margin-top: -2%;
    }
    #graphic {
        width: 460px;
    }
 }
 /*Ultra HD Screen */
/* @media screen and (min-width: 3840px){
} */
/*Quit App*/
.darkTransparentContainer {
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100vh;
    background: #00000067;
    box-shadow: 1px 2px 6px rgb(220, 220, 220);
    display: none;
}
#darkTransparentContainer.display {
    display: block;
}
#exitPopup {
    position: fixed;
    width: 286px;
    height: 124px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgb(255, 255, 255);
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    box-shadow: 1px 2px 20px rgb(107, 107, 107);
}
h3 {
    text-transform: none;
    font-family: sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    color: rgb(54, 54, 54);
  }
h4 {
    margin: -12px 0px 10px;
    text-transform: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: rgba(46, 46, 46, 0.993);
}
#horizontalLine {
    border-color: rgba(255, 255, 255, 0.342);
    margin: 0px 0px 20px;
}
#exitApp {
    font-size: 16px;
    padding-left: 50px;
    color: #097dd6;
    background: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif, 'Times New Roman', Times, serif;
    cursor: pointer;
}
#closePopup {
    font-size: 16px;
    padding-right: 50px;
    color: #b10600ea;
    background: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif, 'Times New Roman', Times, serif;
    cursor: pointer;
}
/*Device's screen not supported*/
@media screen and (max-width: 320px){
    * {
        display: none;
    }
}