/*https://fontawesome.com/v5/*/
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
/*Loading Animation*/
#loaderContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgb(255, 255, 255);
    cursor: pointer;
}
#loaderAnimation {
    height: 32px;
    width: 32px;
    border: 4px solid #f5f5f5;
    border-top-color: #000000;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    animation: spin .6s infinite linear;
}   
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    color: black;
    font-family: 'Questrial', sans-serif;
}
/*App Body*/
body {
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
    /* prevent copy paste, to allow, change 'none' to 'text' */
    background: #f4f4f4;
}
/*App Bar*/
.appBarContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 132px;
    background-image: linear-gradient(to right, #944CE1, #7135DB);
    box-shadow: 1px 2px 16px #5c2caf;
}
.appBarContents {
    margin-top: 22px;
    font-size: 21px;
    text-transform: none;
    padding: 25px;
}
#bar {
    float: left;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 100px;
    background: #5c2caf33;
    margin-top: -12px;
}
#theme {
    float: right;
    color: #ffffff;
    font-size: 21px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 100px;
    background: #5c2caf33;
    margin-top: -12px;
}
#appTitle {
    margin-top: 1.4px;
    margin-left: 66px;
    font-size: 20px;
    color: #ffffff;
}
.appBarSelection {
    display: flex;
    justify-content: center;
    margin-top: -5px;
}
.appBarSelection .selection {
    font-size: 16px;
    color: #ffffffaf;
    margin: 20px;
    cursor: pointer;
}
.selection:hover {
    color: white;
    transition: .4s;
}
#selected {
    color: #ffffff;
}
#hightlight {
    text-align: center;
    margin-top: -14px;
    border-radius: 100px;
    width: 40px;
    border: 1px solid rgb(255, 255, 255);
}
/*Floating Action Button*/
#floatingActionButton {
    position: absolute;
    width: 58px;
    height: 58px;
    background: #7837e8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 26px;
    color: #ffffff;
    text-decoration: none;
    box-shadow: 1px 2px 16px #5c2caf;
    cursor: pointer;
    transition: 0.25s;
    margin-top: -70px;
}
#floatingActionButton:active {
    background: #7c3aee;
}
/*Click Counter*/
.clickCounterWrapper {
    overflow-y: hidden;
    overflow-x: hidden;
}
.clickCounterContents {
    text-align: center;
    margin-top: 300px;
    color: rgb(39, 39, 39);
}
#bodyText {
    text-transform: none;
    font-size: 14px;
}
#clickValue {
    font-size: 40px;
    margin-top: -10px;
}
/*Bottom Navigation Bar*/
.bottomNavigationBarWrapper {
    position: fixed;
    bottom: 2%;
    left: 0;
    right: 0;
}
.bottomNavigationBarContents {
    display: flex;
    justify-content: center;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
    width: 98%;
    height: 60px;
    background-image: linear-gradient(to right, #7135DB, #944CE1);
    box-shadow: 1px 2px 16px rgb(154, 154, 154);
    border-radius: 50px;
    font-size: 20px;
}
.bottomIconContainer {
    margin-top: 0px;
}
#homeIcon {
    color: #ffffff;
    cursor: pointer;
    margin: 40px;
}
#searchIcon {
    color: #ffffff;
    cursor: pointer;
    margin: 40px;
}
#messageIcon {
    color: #ffffff;
    cursor: pointer;
    margin: 40px;
}
#profileIcon {
    color: #ffffff;
    cursor: pointer;
    margin: 40px;
}
#drawerTransparentBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(15, 15, 15, 0.523);
    display: none;
}
#drawerSideBar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    height: 100vh;
    background: rgb(255, 255, 255);
    transition: .5s;
}
#drawerSideBar.active {
    left: 0;
}
#drawerHead {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 88px;
    background-image: linear-gradient(to right, #7135DB, #944CE1);
}
#backArrow {
    font-size: 21px;
    margin: 47px 24px;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 100px;
    background: #5c2caf33;
    margin-top: 34.7px;
}
#drawerTitle {
    position: absolute;
    margin-top: -79px;
    margin-left: 90px;
    font-size: 20px;
    color: white;
}
.profilePhoto {
    margin-top: -10%;
}
.profile {
    margin-left: 38px;
    width: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.line {
    border-color: rgba(255, 255, 255, 0.219);
    margin-top: 20px;
}
.main-text {
    margin: 0px 68px 0px;
    margin-left: 38px;
    font-size: 20px;
    font-weight: normal;
    color: rgb(0, 0, 0);
    font-family: 'Questrial', sans-serif;
}
.description {
    margin-left: 38px;
    margin-top: 5px;
    font-size: 17px;
    color: rgb(0, 0, 0);
}
/* Search UI */
#searchTransparentBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(15, 15, 15, 0.523);
    cursor: pointer;
    display: none;
}
#searchBackArrow {
    font-size: 21px;
    margin: 47px 24px;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 100px;
    background: #5c2caf33;
    margin-top: 34.7px;
}
#searchBarContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 88px;
    background-image: linear-gradient(to left, #944CE1, #7235db);
    box-shadow: 1px 2px 16px #472286;
    display: none;
}
.searchBarContents {
    margin-top: -90px;
    margin-right: 10px;
    float: right;
}
#searchInput {
    width: 215px;
    height: 4px;
    padding: 19px;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 18px;
    background: #7235db36;
    border-radius: 100px;
}
::placeholder {
    color: rgba(255, 255, 255, 0.728);
}
#searchFormIcon {
    color: #ffffff;
    font-size: 16px;
    margin-left: -67px;
}
#searchBtn {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}
/*Drawer Contents*/
#profileInfo {
    position: absolute;
    padding: 18px;
    margin-left: 70%;
    margin-top: -13px;
}
#info {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #f4f4f4;
    box-shadow: 1px 2px 4px #d8d8d8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 16px;
    color: #5c5c5cfe;
    text-decoration: none;
    cursor: pointer;
}
#accountText {
    margin-left: 38px;
    margin-top: 80px;
    font-weight: bold;
    font-size: 19px;
    color: #000000;
}
#settingsContents {
    margin: 40px;
}
#settingsText {
    margin-left: 38px;
    margin-top: 40px;
    font-weight: bold;
    font-size: 19px;
}
#shareIcon {
    font-size: 19px;
}
#shareText {
    margin-top: -20px;
    margin-left: 50px;
    font-size: 19px;
    cursor: pointer;
}
#contactIcon {
    position: absolute;
    margin-top: 25px;
    font-size: 19px;
}
#contactText {
    position: absolute;
    font-size: 19px;
    cursor: pointer;
    margin-top: 25px;
    margin-left: 50px;
}
/*Night Theme Widget*/
#nightThemeTransparentBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(15, 15, 15, 0.523);
    display: none;
}
#nightThemeContainer {
    position: absolute;
    top: 34px;
    right: 6px;
    width: 240px;
    height: 60px;
    background: #ffffff;
    box-shadow: 1px 2px 16px #31195b;
    border-radius: 10px;
    display: none;
}
#nighThemeSwitch {
    position: absolute;
    top: 22px;
    right: 26px;
}
.fa-moon {
    margin: 6px;
}
#nightThemeText {
   font-size: 18px;
   padding: 15px;
   margin-left: -4px;
}
.checkbox {
    opacity: 0;
    position: absolute;
}
.label {
    background-image: linear-gradient(to right, #24206c, #1d1448);
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 8px;
    width: 32px;
    transform: scale(1.5);
}
.label .ball {
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    margin-left: -6px;
    top: 2px;
    left: 8px;
    height: 14px;
    width: 14px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}
.checkbox:checked + .label .ball {
    transform: translateX(24px);
}
#info:hover {
    background: #ececec;
    transition: .4s;
}
/* Mobile View Portrait layout (default) */
@media screen and (min-width: 360px) {
    #loaderAnimation {
        margin-top: 83%;
    }
    #floatingActionButton:active {
        background: #7035d5;
    }
    .main-text {
        font-weight: normal;
        font-size: 18.4px;
    }
    .description {
        font-size: 15.8px;
        color: rgb(34, 34, 34);
    }
    #bodyText {
        font-size: 16px;
        margin-top: -26%;
    }
    #clickValue {
        font-size: 42px;
        margin-top: -3%;
    }
    .profile {
        margin-top: 48px;
        width: 80px;
    }
    #searchInput {
        width: 228px;
    }
    /*Bottom Navigation Bar*/
    .bottomNavigationBarWrapper {
        position: fixed;
        bottom: 1%;
        left: 0;
        right: 0;
    }
    .bottomNavigationBarContents {
        display: flex;
        justify-content: center;
        margin: auto;
        bottom: 0;
        left: 0;
        right: 0;
        width: 99%;
        height: 56.8px;
        background-image: linear-gradient(to right, #7135DB, #944CE1);
        box-shadow: 1px 2px 16px rgb(154, 154, 154);
        border-radius: 50px;
        font-size: 20px;
    }
    .bottomIconContainer {
        margin-top: -12.8px;
    }
    #homeIcon {
        color: #ffffff;
        cursor: pointer;
        margin: 32px;
    }
    #searchIcon {
        color: #ffffff;
        cursor: pointer;
        margin: 32px;
    }
    #messageIcon {
        color: #ffffff;
        cursor: pointer;
        margin: 32px;
    }
    #profileIcon {
        color: #ffffff;
        cursor: pointer;
        margin: 32px;
    }
    #graphicContainer {
        text-align: center;
        margin-top: -10%;
    }
    #graphic {
        width: 320px;
    }
    .drawerContents {
        margin-top: 40px;
    }
}
@media screen and (min-width: 375px) {
    #loaderAnimation {
        margin-top: 84%;
    }
    #searchInput {
        width: 244px;
    }
}
/* Loader Animation Landscape View */
@media screen and (min-width: 640px) {
    #loaderAnimation {
        margin-top: 25%;
    }
}
/* Tablet Portrait View */
@media screen and (min-width: 768px) {
    #loaderAnimation {
        margin-top: 64%;
    }
    #drawerSideBar {
        width: 60%;
        height: 100vh;
    }
    .drawerContents {
        margin-top: 100px;
    }
    #accountText {
        margin: 35px 40px;
    }
    #bodyText {
        font-size: 18px;
        margin-top: -6%;
    }
    #clickValue {
        font-size: 50px;
        margin-top: -1%;
    }
    #graphicContainer {
        text-align: center;
        margin-top: -4%;
    }
    #graphic {
        width: 460px;
    }
    /* Bottom Navigation */
    .bottomNavigationBarWrapper {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .bottomNavigationBarContents {
        width: 58%;
        border-radius: 28px 28px 0px 0px;
    }
    .bottomIconContainer {
        margin-top: -11px;
    }
}
/* Tablet Landscape View */
@media screen and (min-width: 1024px) {
    #loaderAnimation {
        margin-top: 34.8%;
    }
    #drawerSideBar {
        width: 40%;
        height: 100vh;
    }
    #bodyText {
        font-size: 18px;
        margin-top: -10%;
    }
    #clickValue {
        font-size: 50px;
        margin-top: -1%;
    }
    #graphicContainer {
        text-align: center;
        margin-top: -8%;
    }
    #graphic {
        width: 760px;
    }
    /* Bottom Navigation Bar*/
    .bottomNavigationBarWrapper {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .bottomNavigationBarContents {
        width: 40%;
        border-radius: 28px 28px 0px 0px;
    }
    .bottomIconContainer {
        margin-top: -11px;
    }
    .drawerContents {
        margin-top: 80px;
    }
}
/*Standard Screen */
@media screen and (min-width: 1366px) {
    #loaderAnimation {
        margin-top: 26.5%;
    }
    #drawerSideBar {
        width: 26%;
        height: 100vh;
    }
    .drawerContents {
        margin-top: 80px;
    }
    #bodyText {
        font-size: 18px;
        margin-top: -6%;
    }
    #clickValue {
        font-size: 50px;
        margin-top: -1%;
    }
    /* Bottom Navigation Bar*/
    .bottomNavigationBarWrapper {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .bottomNavigationBarContents {
        width: 28%;
        border-radius: 28px 28px 0px 0px;
    }
    .bottomIconContainer {
        margin-top: -11px;
    }
    #graphicContainer {
        text-align: center;
        margin-top: -4%;
    }
    #graphic {
        width: 460px;
    }
    .main-text {
        margin: 0px 88px 0px;
        margin-left: 38px;
    }
}
/*FHD Screen */
@media screen and (min-width: 1920px) {
    #loaderAnimation {
        margin-top: 22%;
    }
    #floatingActionButton:hover {
        background: #7035d5;
    }
    #drawerSideBar {
        width: 24%;
        height: 100vh;
    }
    .profile {
        margin-top: 45px;
        width: 80px;
    }
    .main-text {
        margin: 0px 88px 0px;
        margin-left: 38px;
        font-size: 26px;
        font-weight: normal;
    }
    .description {
        font-size: 18px;
        color: rgb(34, 34, 34);
    }
    #bodyText {
        font-size: 18px;
        margin-top: 1%;
    }
    #clickValue {
        font-size: 50px;
        margin-top: 1%;
    }
    /* Search UI */
    .searchBarContents {
        margin-top: -90px;
        text-align: center;
        float: unset;
    }
    #searchInput {
        width: 350px;
    }
    /* Bottom Navigation Bar*/
    .bottomNavigationBarWrapper {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .bottomNavigationBarContents {
        width: 22%;
        border-radius: 28px 28px 0px 0px;
    }
    .bottomIconContainer {
        margin-top: -11px;
    }
    #homeIcon {
        color: #ffffff;
        cursor: pointer;
    }
    #searchIcon {
        color: #ffffff;
        cursor: pointer;
    }
    #messageIcon {
        color: #ffffff;
        cursor: pointer;
    }
    #profileIcon {
        color: #ffffff;
        cursor: pointer;
    }
    #graphicContainer {
        text-align: center;
        margin-top: -2%;
    }
    #graphic {
        width: 460px;
    }
    .drawerContents {
        margin-top: 100px;
    }
    #accountText {
        margin: 40px 40px;
    }
}
/*User screen not supported*/
@media screen and (max-width: 359px) {
    * {
        display: none;
    }
}