body {
    background: #021d3a;
}

#preloaderText {
    color: #ffffffea;
}

.appBarContainer {
    background: #042042;
}

#floatingActionButton {
    /*Floating Action Button*/
    background: #033E80;
    color: #ffffff;
    box-shadow: none;
}

#floatingActionButton:active {
    background: #034490;
}

#drawerSideBar {
    background: #021d3a;
}

#nightThemeText {
    font-size: 19px;
    padding: 19.4px;
    margin-left: -5px;
}

.label {
    background: #042042;
}

.label .ball {
    background-color: #ffffff;
    box-shadow: 1px 1px 2px #0009217e;
}

.wrapper .box {
    background: #052b58;
}  

.wrapper .text {
    color: #ffffffd8;
}  

/*Desktop Approach*/
@media (min-width: 1024px){
    .wrapper .box {
        background: #052b58;
    }  

    .wrapper .text {
        color: #ffffffd8;
    }  
}
