/*Night Theme IU*/
body {
    background: #031955;
}
/*App Bar*/
.appBarContainer {
    background-image: linear-gradient(to right, #033E80, #031955);
    box-shadow: 1px 2px 16px #002651;
}
/*Floating Action Button*/
#floatingActionButton {
    background: #033E80;
    box-shadow: 1px 2px 16px #002651;
}
#floatingActionButton:active {
    background: #034490;
}
/*Click Counter*/
#bodyText {
    text-transform: none;
    font-size: 14px;
    color: #ffffff;
}
#clickValue {
    color: #ffffff;
}
#drawerSideBar {
    background: #031955;
}
#drawerHead {
    background-image: linear-gradient(to right, #033E80, #031955);
}
.line {
    border-color: rgba(188, 188, 188, 0.161);
}
.main-text {
    color: rgb(255, 255, 255);
}
.description {
    color: #ffffff;
}
/* Search UI */
#searchBarContainer {
    background-image: linear-gradient(to right, #033E80, #031955);
    box-shadow: none;
}
/*Drawer Contents*/
#info {
    background: #033E80;
    box-shadow: 1px 2px 16px #002651;
    color: #f3f3f3fe;
}
#accountText {
    color: #ffffff;
}
#settingsText {
    color: #ffffff;
}
#shareIcon {
    color: #ffffff;
}
#shareText {
    color: #ffffff;
}
#contactIcon {
    color: #ffffff;
}
#contactText {
    color: #ffffff;
}
/*Night Theme Widget*/
#nightThemeContainer {
    background: #033E80;
    box-shadow: 1px 2px 16px #002651;
}
.fa-moon {
    margin: 6px;
    color: #ffffff;
}
#nightThemeText {
    color: #ffffff;
}
.label {
    background: #ffffff;
}
.label .ball {
    background-color: #002651;
}
/* Mobile View Portrait layout (default) */
@media screen and (min-width: 360px) {
   .description {
       color: #ffffffce;
   }
   .bottomNavigationBarContents {
    background: #033E80;
    box-shadow: 1px 2px 16px #002651;
    }
    #info:hover {
        background: #034490;
        transition: .4s;
    }
}
/*FHD Screen */
@media screen and (min-width: 1920px) {
    #floatingActionButton:hover {
        background: #034490;
    }
    .description {
        font-size: 18px;
        color: #ffffffd2;
    }
    /* Bottom Navigation Bar*/
    .bottomNavigationBarContents {
        background: #033E80;
        box-shadow: 1px 2px 16px #002651;
    }
    #info:hover {
        background: #034490;
        transition: .4s;
    }
}
