/*App bar, Drawer, Floating action button, Bottom navigation and Preloader.*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#loaderContainer {
    /*Loading Animation*/
    position: fixed;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(15, 15, 15, 0.904);
    width: 110px;
    height: 100px;
    border-radius: 10px;
}

#preloader {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
}

#preloaderText {
    position: relative;
    margin-top: 4rem;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    color: #000000;
    font-family: 'Roboto', sans-serif;
}

body {
    /*App Body*/
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    background: #f1f1f1;
}

.appBarContainer {
    /*App Bar*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 88px;
    background: #7436E1;
    box-shadow: 1px 2px 4px rgba(20, 20, 20, 0.274);
}

.appBarContents {
    margin-top: 22px;
    font-size: 21px;
    text-transform: none;
    padding: 25px;
}

#bar {
    float: left;
    color: #ffffff;
    cursor: pointer;
}

#theme {
    float: right;
    color: #ffffff;
    font-size: 21px;
    cursor: pointer;
}

#appTitle {
    margin-top: 0;
    margin-left: 44px;
    font-size: 19px;
    color: #ffffff;
}

#floatingActionButton {
    /*Floating Action Button*/
    position: fixed;
    width: 58px;
    height: 58px;
    background: #7436E1;
    box-shadow: 1px 2px 4px rgba(20, 20, 20, 0.274);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 26px;
    font-family: sans-serif;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    transition: 0.25s;
    bottom: 3%;
    right: 5.6%;
}

#floatingActionButton:active {
    background: #803bf7;
}

.fa-redo {
    color: #ffffff;
    font-size: 18px;
}

.clickCounterContainer {
    /*Click Counter*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clickCounterContents {
    text-align: center;
    color: rgb(39, 39, 39);
}

#bodyText {
    margin: 0px -60px -15px;
    text-transform: none;
    font-size: 14px;
}

#clickValue {
    font-size: 36px;
}

#drawerOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(15, 15, 15, 0.477);
    cursor: pointer;
    display: none;
}

#drawerSideBar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 85%;
    height: 100vh;
    background: rgb(255, 255, 255);
    transition: .5s;
}

#drawerSideBar.active {
    left: 0;
}

#nightThemeOverlay {
    /*Night Theme Widget*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(15, 15, 15, 0.477);
    display: none;
}

#nightThemeContainer {
    position: fixed;
    top: 29px;
    right: 5px;
    width: 200px;
    height: 60px;
    background: #ffffff;
    box-shadow: 1px 2px 8px rgba(12, 12, 12, 0.194);
    border-radius: 5px;
    display: none;
}

#nighThemeSwitch {
    position: absolute;
    top: 21px;
    right: 26px;
}

#nightThemeText {
    font-size: 19px;
    padding: 19.4px;
    margin-left: -5px;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background: #d6d6d6be;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 8px;
    width: 32px;
    transform: scale(1.5);
}

.label .ball {
    background-color: #ffffff;
    box-shadow: 1px 2px 4px rgb(159, 159, 159);
    border-radius: 50%;
    position: absolute;
    margin-left: -6px;
    top: 2px;
    left: 8px;
    height: 14px;
    width: 14px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
    transform: translateX(24px);
}

#info:hover {
    background: #ececec;
    transition: .4s;
}

/*Desktop Approach*/
@media (min-width: 1024px){
    #drawerSideBar {
        width: 25%;
    }
}